<nav class="nav">
  <div>Home</div>
  <div>About</div>
  <div>Contact</div>
</nav>

<div class="home-container">
  <app-control-flow />
  <div>
    <app-defer />
  </div>
  <app-signal />
  <div>
    <h1>output API</h1>
    <h1>Text to UpperCase</h1>
    <app-uppercase
      (outputUpperCaseName)="nameUpperCase.set($event)"
    ></app-uppercase>
    <h1>{{ nameUpperCase() }}</h1>
  </div>
  <div>
    <h1>NG-Content FallBack</h1>
    <app-ng-content-fallback>
      <app-image></app-image>
    </app-ng-content-fallback>
  </div>
</div>
